body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin:0px;
     
   
      
}
 
 
main{
    flex:0 1 100%;
    display:flex;
    justify-content: center;
    height:200px; 
    order:1;
    background: red;
}


 
 
 

  ul{
    list-style-type: none;
    padding:0px;
}
.search{
    order:2;
    flex:0 1 100%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    height:60px;
     
     
}

.searchbox{
    text-align: center;
    width:600px;
    height:30px;
}
 
@media(max-width:400px){
    .searchbox{
        width:275px;
    } 
}

.buttons{
    order:3;
    flex:0 1 600px;
    display:flex;
    justify-content: center;
     
}

.bsearch{
    margin-right:10px;
} 

footer{
    order:4;
    background-color:aliceblue;
    flex:0 1 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:3.2em;
     
}

footer .pgroup1{
    display:flex; 
    width:230px;
    margin-left:30px;
    justify-content: space-between;
    margin-right:10px;
     
}


footer .pgroup2{
    display:flex;
    margin-right:30px;
    justify-content: space-between;
    width:230px;
    
}
 
a{
    color:grey;
     text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.top_link{
     margin-top:10px;
    margin-right:30px;
    display:flex; 
    justify-content: flex-end;
    align-items: center;
    
    
}
.top_link a{
    margin-left:20px;
    color:black;
    
}

.top_link form input{
    background-color:dodgerblue;
    color:white;
    height:40px;
    width:70px;
}

/*******************Style for search results*******/*

#wrapper{
    display:flex;
    flex-direction: column;
}
 

#nav ul{
    display:flex;
    margin-left:80px;
}
#nav li{
    margin-left:30px;
}

nav li:hover{
    text-decoration: underline;
}


#top_bar{
    height:150px;
    display:flex;
    align-items: center;
}


.mini_search{
    height:50px;
    width:700px;
}

.mini_submit{
    margin-left:-4px;
    height:50px;
    background-color: lightblue;
     
}

.mini_sign_in{
    background-color:skyblue;
    height:35px;
    width:70px;
    margin-left:40em;
}

#results{
     
    margin-left:6.5em;
}

.hits{
    margin-bottom:40px;
}
#foot{
    margin-top: 500px;
}
.grey{
    color:dimgray;
}

.results_url{
    color:green;
}
.link{
    color:blue;
    
}

#related{
    display:flex;
    flex-direction: column;
    margin-left:6em;
}